<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Hair Salon</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel='stylesheet' href='~/css/styles.css'>
  </head>
  <body>
      <div class="jumbotron text-center">
          <h1>Sharp Cuts and Styles Hair Salon</h1>
      </div>
      <div class="container text-center">
        @RenderBody()
    </div>
  </body>
</html>
