@{
  Layout = "_Layout";
}

<h3>You added Client @Model["client"].GetName() to Stylist @Model["stylist"].GetName()!</h3>
<hr>
<h4><a href="/stylists">Back to Stylist List</a></h4>
<h4><a href="/">Go to Homepage</a></h4>
