@{
  Layout = "_Layout";
}

<h1>Add a Stylist</h1>
<form action="/stylists" method="post" class="form-group">
  <label for="stylistName">Stylist Name:</label>
  <input id="stylist-name" name="stylistName" type="text" class="form-control">
  <br>
  <button class="btn btn-primary" type="submit">Add Stylist</button>
</form>
<hr>
<h4><a href="/stylists">Back to Stylist List</a></h4>
<h4><a href="/">Go to Homepage</a></h4>
