@{
  Layout = "_Layout";
}

<h1>All Clients of @Model.GetName()</h1>
@if (@Model.Count == 0)
{
  <h2>There are no clients for this stylist yet!</h2>
}
@foreach (var stylist in Model)
{
  <h3><a href="/stylists/@stylist.GetId()">@stylist.GetName()</a></h3>
}
<p><a href="/clients/new">Add A Client for This Stylist</a></p>
<p><a href="/stylists">Back to All Stylists</a></p>
<p><a href="/">Back to the Start</a></p>
