@{
  Layout = "_Layout";
}

<h1>-Current Stylists-</h1>
<p>Click on a Stylist to see a list of their Clients</p>
@{
    if (@Model.Count == 0)
    {
      <h2>There are no stylists yet!</h2>
    }
    else
    {
        @foreach (var stylist in Model)
        {
            <h3><a href="/stylists/@stylist.GetId()">@stylist.GetName()</a></h3>
        }

    }
}
<hr>
<h4><a href="/stylists/new">Add A Stylist</a></h4>
<h4><a href="/">Go to Homepage</a></h4>
